<footer class="main-footer ">
	<div class="footer-content">
		<div class="container">
			<div class="footer-content-info">
				<div class="footer-logo"><a href=""><img src="./assets/images/logo.svg" alt=""></a></div>
				<div class="footer-phone"><a href="">+7 (000) 000-00-00</a></div>
				<div class="footer-callback"><a href="">Обратный звонок</a></div>
				<div class="footer-contacts">
					<p>125445 г. Москва, Ленинградское шоссе, д. 69, корп. 1, БЦ River City, этаж 5, офис 55</p>
					<p>
						Тел./факс: +7 (000) 000-00-00<br>	
						E-mail: info@t-z.ru
					</p>
				</div>
			</div>
			<div class="footer-content-menu">
				<ul>
					<li><a href="">Проекты из Газоблоков</a></li>
					<li><a href="">Проекты из Керамики</a></li>
					<li><a href="">Проекты из Бревна</a></li>
					<li><a href="">Проекты из Бруса</a></li>
				</ul>
			</div>
			<div class="footer-content-menu">
				<ul>
					<li><a href="">Этапы работы с Клиентом</a></li>
					<li><a href="">О компании</a></li>
					<li><a href="">Реквизиты</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="under-footer">
		<div class="container">
			<div class="under-footer-link"><a href="">Карта сайта</a></div>
			<div class="under-footer-link"><a href="">Политика конфиденциальности</a></div>
			<div class="under-footer-link"><a href="">Сайт разработан студией IS ART</a></div>
		</div>
	</div>

</footer>
<script src="assets/js/vendors/jquery-3.4.1.min.js"></script>
<script src="assets/js/vendors/slick.js"></script>
<script src="assets/js/bundle.js"></script>
</body>

</html>