<div class="overlay"></div>

<div class="modal-window modal-window--callback" role="dialog" aria-modal="true">
    <button class="modal-window__close" v-on:click="closeModal"></button>
    <div class="modal-window-container">
        <div class="modal__title">Заявка</div> 
        <contact-form></contact-form>
    </div>
</div>

<div class="modal-window modal-window--thanks" role="dialog" aria-modal="true">
    <button class="modal-window__close" v-on:click="closeModal"></button>
    <div class="modal-window-container">
        <div class="modal__title">Заявка отправлена</div> 
    </div>
</div>