{% include "partials/header.twig" %}
<main class='main-content'>
	<div class="seo-title">
		<div class="container">
			<h1>Новости</h1>
		</div>
	</div>
	<div class="our-works">
		<div class="container">
			<div class="our-works-inner">
				{% if posts is not empty  %}
					{% for post in posts %}
						<a href="{{ post.link }}" class="our-works-item" style="background: linear-gradient(360deg, #000000 3.07%, rgba(89, 89, 89, 0) 43.4%),url({{ post.thumbnail.src }})">
							<div class="our-works-item-content">
								<div class="our-works-item-name">{{ post.title }}</div>
							</div>
						</a>
					{% endfor %}
				{% else %}
					<div class="not-content">
						Категория пуста
					</div>
				{% endif %}
			</div>
			{% include 'partials/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
		</div>
	</div>


</main>
{% include "partials/footer.twig" %}