{% include "partials/header.twig" %}
<main class='main-content' id="app">
	<div class="seo-title">
		<div class="container">
			<h1>Строительство домов в Москве и Московской области</h1>
		</div>
	</div>
	<div class="who-we-are_short">
		<div class="container">
			<div class="who-we-are_short-content">
				<div class="who-we-are_short-title">Коротко о нас</div>
				<div class="who-we-are_short-name">КРЕПКИЙ ДОМ</div>
				<div class="who-we-are_short-text">
					<p>Группа строительных компаний, это профессионалы своего дела на каждом этапе строительства Вашего дома. У нас допустим заказ как типового проекта для постройки коттеджа, так и индивидуальные разработки. </p>
					<p>Компания <b>«Крепкий дом»</b> выполнит любые работы по строительству независимо от их сложности.</p>
				</div>
				<div class="who-we-are_short-links">
					<a href="" class="all-page-link big fix-width">Из чего мы строим</a>
					<a href="" class="all-page-link big fix-width">Типовые проекты</a>
					<a href="" class="all-page-link big fix-width">Наши работы</a>
					<a href="" class="all-page-link big fix-width">Обратный звонок</a>
				</div>
			</div>
			<div class="who-we-are_short-image"><img src="{{ site.theme.link }}/assets/images/building.jpg" alt=""></div>
		</div>
	</div>
	<div class="our-projetcs-catalog">
		<div class="container">
			<div class="all-page-title">Мы строим из Блока и Дерева</div>
			<div class="under-title">Наша компания имеет опыт в постройке следующих объектов:</div>
			<div class="our-projetcs-catalog-content">
				{% for item in 0..3 %}
					<div class="project-item">
						<div class="project-item-image"><a href=""><img src="{{ site.theme.link }}/assets/images/project.jpg" alt=""></a></div>
						<div class="project-item-info">
							<div class="projects-content-before-name">Дома из</div>
							<div class="projects-content-name">Газобетона</div>
							<div class="projects-content-price">От 12 000 ₽ м2</div>
							<div class="projects-content-text">Это материал лучшее соотношение цена/качество в настощяее время. Это материал лучшее соотношение цена/качество в настощяее время. Это материал лучшее соотношение цена/качество в настощяее время.</div>
							<div class="projects-content-links">
								<a class="buy-link all-page-link" href="">Рассчитать стоимость</a>
								<a class="view-more" href="">Узнать больше</a>							
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="our-works">
		<div class="container">
			<div class="all-page-title">Наши работы</div>
			<div class="header-block-links">
				<a href="" class="all-page-link big">Индивидуальные проекты</a>
				<a href="" class="all-page-link big">Консультация специалиста</a>
			</div>
			<div class="our-works-inner">
				{% for item in 0..5 %}
					<a href="" class="our-works-item" style="background: linear-gradient(360deg, #000000 3.07%, rgba(89, 89, 89, 0) 43.4%),url({{ site.theme.link }}/assets/images/work.jpg)">
						<div class="our-works-item-content">
							<div class="our-works-item-name">ПРОЕКТ ДОМА «КЁЛЬН»</div>
							<div class="our-works-item-info">
								<div class="our-works-item-size">212,4 М2</div>
								<div class="our-works-item-price">45 000 P</div>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
			<a href="" class="all-page-link big view-all">Все проекты</a>
		</div>
	</div>
	<div class="individual-project_block">
		<div class="container">
			<div class="individual-project_block-before-title">Мы разработаем для Вас</div>
			<div class="individual-project_block-title">Индивидуальный проект</div>
			<div class="individual-project_block-text">Если вы не можете найти подходящий Вам дом, наша компания всегда рада прислушаться к каждому пожеланию заказчика и создать уникальный проект дома отвечающий всем вашим требованиям.</div>
			<div class="individual-project_block-links">
				<a href="" class="all-page-link big fix-width">Типовые проекты</a>
				<a href="" class="all-page-link big fix-width">О проектировании</a>
				<a href="" class="all-page-link big fix-width">Оставить заявку</a>
			</div>
		</div>
	</div>
	<div class="construction-stages">
		<div class="container">
			<div class="all-page-title">Этапы строительства дома</div>
			<div class="all-page-text">
				<p>Одним из важнейших этапов решения такой не простой задачи как строительство домов и коттеджей является разработка проектной документации. В рамках данного этапа определяют месторасположение объекта на участке, создают архитектурный проект, определяют материалы, технологии строительства, типы конструкций и узлы сопряжения конструктивных элементов, рассчитывается несущая способность фундамента, перекрытий, стен и кровли.</p>
				<p>Начальным этапом строительства коттеджей и домов является закладка фундамента. Об особенностях, достоинствах и недостатках каждого из типов фундамента наши специалисты расскажут вам на этапе составления проекта под строительство дома. В ходе этапа возведения стен при строительстве дома будущий владелец может выбрать кирпичную кладку, газобетонные или крупноформатные керамические блоки, а также заказать строительство домов из профилированного бруса или оцилиндрованного бревна</p>
				<p>Заключительный этап строительства — монтаж крыши. Основой кровли является стропильная система, когда производится проектирование и строительство коттеджей, очень важно произвести правильные расчеты стропильной системы, обеспечивающей кровле надежность и долговечность. При расчетах учитывается тип кровельного материала, размер и форма крыши, а также климатические особенности местности, где производится строительство домов. В процессе монтажа мы уделяем особое внимание обеспечению тепло- и гидроизоляции.</p>
				<p>Строительство жилых домов и дач: финишный этап. Именно прокладка коммуникаций делает дом жилым помещением. В комплекс работ может входить:</p>
				<ul>
					<li>электропроводка,</li>
					<li>монтаж теплосети,</li>
					<li>водопроводные сети,</li>
					<li>канализация,</li>
					<li>системы вентиляции и кондиционирования.</li>
				</ul>
				<p>Строительство домов во Владимире проводится квалифицированными специалистами, мы используем качественные материалы, надежную строительную технику и современные технологии.</p>
			</div>
		</div>
	</div>
	<div class="gallery-works">
		<div class="container">
			<div class="all-page-title">Наши работы</div>
			<div class="gallery-works-inner">
				{% for item in 0..7 %}
					<a class="gallery-item" href=""><img src="{{ site.theme.link }}/assets/images/work.jpg" alt=""></a>
				{% endfor %}
			</div>
		</div>
	</div>
</main>
{% include "partials/footer.twig" %}