{% include "partials/header.twig" %}
<main class='main-content'>
    <div class="seo-title">
        <div class="container">
            <h1>Контакты</h1>
        </div>
    </div>
    <div class="contacts-map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6de8d30e0235759bbe49618a403e9d0fda7fb67024b74163efcc7670d7ba4784&amp;width=100%25&amp;height=340&amp;lang=ru_RU&amp;scroll=true"></script>
        <div class="contacts-page-content">
            <div class="contacts-page-content-item">
                <div class="contacts-item-name">Адрес:</div>
                <div class="contacts-item-value">Санкт-Петербург, ул. Малая , д.2</div>
            </div>
            <div class="contacts-page-content-item">
                <div class="contacts-item-name">Телефон:</div>
                <div class="contacts-item-value"><a href="">+7 (999) 999-99-99</a> многоканальный</div>
            </div>
            <div class="contacts-page-content-item">
                <div class="contacts-item-name">Время работы:</div>
                <div class="contacts-item-value">Ежедневно 9:00 - 22:00</div>
            </div>
            <div class="contacts-callback"><a href="">ЗАКАЗАТЬ ЗВОНОК</a></div>
        </div>
    </div>
    <div class="contacts-page-form">
        <div class="container">
            <div class="contacts-page-form-name">Напишите нам</div>
            <div class="contacts-page-form-inner">
                <div class="contacts-page-form-left">
                <form action="">
                    <label for="">Ваше имя *
                        <input class="contatsInput" type="text" placeholder="Ваше имя *">
                    </label>
                    <label for="">Телефон *
                        <input class="contatsInput" type="text" placeholder="+7 (000) 000-00-00">
                    </label>
                    <textarea name="" placeholder="Задайте вопрос здесь"></textarea>
                    <input class="contactsSubmit" type="submit" value="ОТПРАВИТЬ">
                    <div class="private-policy">Нажимая кнопку "Отправить", вы соглашаетесь с <a href="">Политикой конфиденциальности</a></div>
                </form>
                </div>
                <div class="contacts-page-form-right">
                    Все обращения проверяются, модерируются и контролируются лично генеральным директором. Ни один отзыв, предложение или жалоба не останется без внимания 
                </div>
            </div>
        </div>
    </div>
</main>
{% include "partials/footer.twig" %}