{% include "partials/header.twig" %}
<main class='main-content' id="app">
    <div class="seo-title">
        <div class="container">
            <h1>ПРОЕКТ ДОМА «КЁЛЬН»</h1>
        </div>
    </div>
    <div class="product-slider">
        <div class="product-slick-for">
            {% for item in 0..4 %}
            <div class="product-slick-for-content">
                <img src="{{ site.theme.link }}/assets/images/product.jpg" alt="">
            </div>
            {% endfor %}
        </div>
        <div class="product-slick-nav">
            {% for item in 0..4 %}
            <div class="product-slick-nav-content">
                <img src="{{ site.theme.link }}/assets/images/product.jpg" alt="">
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="product-information">
        <div class="container">
            <div class="product-information-column">
                <div class="product-information-title">О ПРОЕКТЕ</div>
                {% for item in 0..1 %}
                <div class="scheme-item">
                    <div class="scheme-item-name">Первый этаж</div>
                    <div class="scheme-item-img">
                        <a href="">
                            <img src="{{ site.theme.link }}/assets/images/scheme.jpg" alt="">
                        </a>
                    </div>
                </div>
                {% endfor %}
                <div class="technical-specifications">
                    <div class="technical-specifications-name">Технические параметры проекта</div>
                    <table>
                        <tbody>
                            <tr>
                                <td>Общая площадь дома</td>
                                <td>212,4 м2</td>
                            </tr>
                            <tr>
                                <td>Площадь отапливаемых помещений</td>
                                <td>201,2 м2</td>
                            </tr>
                            <tr>
                                <td>Площади крылец и террас</td>
                                <td>24,4 м2</td>
                            </tr>
                            <tr>
                                <td>Площадь балконов</td>
                                <td>13 м2</td>
                            </tr>
                            <tr>
                                <td>Габаритные размеры</td>
                                <td>10,9 Х 13,6 м</td>
                            </tr>
                            <tr>
                                <td>Тип</td>
                                <td>Газобетон, кирпич, керамика</td>
                            </tr>
                            <tr>
                                <td>Стиль</td>
                                <td>Современная классика</td>
                            </tr>
                            <tr>
                                <td>Гараж</td>
                                <td>23,8 м2</td>
                            </tr>
                            <tr>
                                <td>Количество полных этажей</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Мансардный этаж</td>
                                <td>есть</td>
                            </tr>
                            <tr>
                                <td>Количество спален</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>Количество санузлов</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Второй свет</td>
                                <td>15.0 м2</td>
                            </tr>
                            <tr>
                                <td>Высота первого этажа</td>
                                <td>3.0 м</td>
                            </tr>
                            <tr>
                                <td>Высота второго этажа</td>
                                <td>2.8 м</td>
                            </tr>
                            <tr>
                                <td>Тип фундамента</td>
                                <td>Монолитная плита фундамента</td>
                            </tr>
                            <tr>
                                <td>Материал стен</td>
                                <td>Газобетонные блоки</td>
                            </tr>
                            <tr>
                                <td>Тип межэтажных перекрытий</td>
                                <td>Монолитная железобетонная плита</td>
                            </tr>
                            <tr>
                                <td>Тип кровельного покрытия</td>
                                <td>Гибкая битумная черепица</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="product-information-column">
                <div class="product-information-column-inner">
                    <div class="technical-specifications-name">СТОИМОСТЬ СТРОИТЕЛЬСТВА ДОМА</div>
                    <div class="complectations-buttons">
                        <div class="control-group">
                            <label class="control control-radio active" data-id="c1">
                                Базовая комплектация
                                <input type="radio" name="radio" checked="checked" />
                                <div class="control_indicator"></div>
                                <div class="complectation-price">4 263 980 P</div>
                            </label>
                            <label class="control control-radio" data-id="c2">
                                Оптимальная комплектация
                                <input type="radio" name="radio" />
                                <div class="control_indicator"></div>
                                <div class="complectation-price">4 263 980 P</div>
                            </label>
                            <label class="control control-radio" data-id="c3">
                                Энергоэффективная комплектация
                                <input type="radio" name="radio" />
                                <div class="control_indicator"></div>
                                <div class="complectation-price">4 263 980 P</div>
                            </label>
                        </div>
                    </div>
                    <div class="complectaions-content-name">Описание выбранной комплектации</div>
                    <div class="complectaions-content">        
                        <div class="complectaions-content-inner" id="c1">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Фундамент</td>
                                        <td>Утепленная железобетонная плита с закладными под коммуникации (свет, вода, канализация)</td>
                                    </tr>
                                    <tr>
                                        <td>Стены несущие фасадные</td>
                                        <td>Газобетонные блоки 375мм</td>
                                    </tr>
                                    <tr>
                                        <td>Внутренние несущие стены</td>
                                        <td>Газобетонные блоки 250мм</td>
                                    </tr>
                                    <tr>
                                        <td>Перегородки</td>
                                        <td>Газобетонные блоки 125мм</td>
                                    </tr>
                                    <tr>
                                        <td>Междуэтажное перекрытие</td>
                                        <td>Сборно- монолитное</td>
                                    </tr>
                                    <tr>
                                        <td>Стропильная система</td>
                                        <td>Антисептированый пиломатериал первого сорта</td>
                                    </tr>
                                    <tr>
                                        <td>Утепление кровли</td>
                                        <td>Базальтовые плиты толщиной 200мм</td>
                                    </tr>
                                    <tr>
                                        <td>Кровельное покрытие</td>
                                        <td>Металлочерепица М28 РЕМА</td>
                                    </tr>
                                    <tr>
                                        <td>Окна</td>
                                        <td>REHAU Sib Design</td>
                                    </tr>
                                    <tr>
                                        <td>Дверь входная</td>
                                        <td>Valberg BМD-1</td>
                                    </tr>
                                    <tr>
                                        <td>Фасадная отделка</td>
                                        <td>Декоративная штукатурка</td>
                                    </tr>
                                    <tr>
                                        <td>Водосточная система</td>
                                        <td>Стальная система водоотведения</td>
                                    </tr>
                                    <tr>
                                        <td>Отделка кровельного свеса</td>
                                        <td>Стальные софиты</td>
                                    </tr>
                                    <tr>
                                        <td>Лестница междуэтажная</td>
                                        <td>Монолитная, железобетонная</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="complectaions-content-inner" id="c2">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Фундамент</td>
                                        <td>Утепленная железобетонная плита с закладными под коммуникации (свет, вода, канализация)</td>
                                    </tr>
                                    <tr>
                                        <td>Стены несущие фасадные</td>
                                        <td>Газобетонные блоки 375мм</td>
                                    </tr>
                                    <tr>
                                        <td>Внутренние несущие стены</td>
                                        <td>Газобетонные блоки 250мм</td>
                                    </tr>
                                    <tr>
                                        <td>Перегородки</td>
                                        <td>Газобетонные блоки 125мм</td>
                                    </tr>
                                    <tr>
                                        <td>Междуэтажное перекрытие</td>
                                        <td>Сборно- монолитное</td>
                                    </tr>
                                    <tr>
                                        <td>Стропильная система</td>
                                        <td>Антисептированый пиломатериал первого сорта</td>
                                    </tr>
                                    <tr>
                                        <td>Утепление кровли</td>
                                        <td>Базальтовые плиты толщиной 200мм</td>
                                    </tr>
                                    <tr>
                                        <td>Кровельное покрытие</td>
                                        <td>Металлочерепица М28 РЕМА</td>
                                    </tr>
                                    <tr>
                                        <td>Окна</td>
                                        <td>REHAU Sib Design</td>
                                    </tr>
                                    <tr>
                                        <td>Дверь входная</td>
                                        <td>Valberg BМD-1</td>
                                    </tr>
                                    <tr>
                                        <td>Фасадная отделка</td>
                                        <td>Декоративная штукатурка</td>
                                    </tr>
                                    <tr>
                                        <td>Водосточная система</td>
                                        <td>Стальная система водоотведения</td>
                                    </tr>
                                    <tr>
                                        <td>Отделка кровельного свеса</td>
                                        <td>Стальные софиты</td>
                                    </tr>
                                    <tr>
                                        <td>Лестница междуэтажная</td>
                                        <td>Монолитная, железобетонная</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="complectaions-content-inner" id="c3">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Фундамент</td>
                                        <td>Утепленная железобетонная плита с закладными под коммуникации (свет, вода, канализация)</td>
                                    </tr>
                                    <tr>
                                        <td>Стены несущие фасадные</td>
                                        <td>Газобетонные блоки 375мм</td>
                                    </tr>
                                    <tr>
                                        <td>Внутренние несущие стены</td>
                                        <td>Газобетонные блоки 250мм</td>
                                    </tr>
                                    <tr>
                                        <td>Перегородки</td>
                                        <td>Газобетонные блоки 125мм</td>
                                    </tr>
                                    <tr>
                                        <td>Междуэтажное перекрытие</td>
                                        <td>Сборно- монолитное</td>
                                    </tr>
                                    <tr>
                                        <td>Стропильная система</td>
                                        <td>Антисептированый пиломатериал первого сорта</td>
                                    </tr>
                                    <tr>
                                        <td>Утепление кровли</td>
                                        <td>Базальтовые плиты толщиной 200мм</td>
                                    </tr>
                                    <tr>
                                        <td>Кровельное покрытие</td>
                                        <td>Металлочерепица М28 РЕМА</td>
                                    </tr>
                                    <tr>
                                        <td>Окна</td>
                                        <td>REHAU Sib Design</td>
                                    </tr>
                                    <tr>
                                        <td>Дверь входная</td>
                                        <td>Valberg BМD-1</td>
                                    </tr>
                                    <tr>
                                        <td>Фасадная отделка</td>
                                        <td>Декоративная штукатурка</td>
                                    </tr>
                                    <tr>
                                        <td>Водосточная система</td>
                                        <td>Стальная система водоотведения</td>
                                    </tr>
                                    <tr>
                                        <td>Отделка кровельного свеса</td>
                                        <td>Стальные софиты</td>
                                    </tr>
                                    <tr>
                                        <td>Лестница междуэтажная</td>
                                        <td>Монолитная, железобетонная</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="total-price">
                    	<div class="total-price-name">Стоимость монтажа инженерных систем и внутренней черновой отделки</div>
                    	<div class="total-price-value">2 615 600 P</div>
                    </div>
                    <a href="" class="buy-house_button">Заказать стоительство дома</a>
                    <div class="buy-house_button-info">* - Комплектация дома и перечень используемых материалов могут быть изменены и дополнены согласно Вашим пожеланиям.</div>
                    <div class="building-include">
                    	<p><b>В стоимость строительства включено:</b></p>
                    	<ul>
                    		<li>Материалы и инструменты.</li>
                    		<li>Cтроительно - монтажные работы.</li>
                    		<li>Инвентарные и накладные расходы.</li>
                    		<li>Вагончик для проживания строителей.</li>
                    	</ul>
                    	<p>Узнайте подробнее в разделе ЦЕНЫ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-description">
        <div class="container">
            <div class="all-page-title">Идея проекта</div>
            <div class="all-page-text">
                <p>Проект «Кёльн» является уютным одноэтажным коттеджем с двускатной крыше, мансардным помещением и встроенным гаражом на один автомобиль.</p>
                <p>Дом спроектирован в стиле современной классики, строению присуща оригинальная архитектура, которая включает огромное количество витражных окон, которые наполнят дом большим теплом и солнечным светом, планировка внутри рациональна и проста.</p>
                <p>Первый этаж начинается коридором и гостевым санузлом, большая гостиная имеет практически квадратную форму, из которой есть возможность прохода в помещение вытянутой формы, совмещающее в себе кухню и столовую. Данная комната занимает немалую площадь, что несомненно порадует любую хозяйку, также здесь имеется выход на террасу, где можно наслаждаться свежим воздухом и лакомиться свежеприготовленными вкусностями, приготовленными на прилегающей кухне.</p>
                <p>Вход в гаражное помещение на первом этаже площадью 15,3 кв.м. можно осуществлять с обоих сторон постройки: через главный вход и из обратной стороны через бойлерную.</p>
                <p>Мансардный этаж практически полностью предоставлен ночной зоной, слева по периметру находится большая спальная комната в 23,7 кв.м. со своей собственной гардеробной. С этой стороны находится помещение, предполагающее размещение там личного кабинета, по желанию заказчика его можно переконструировать в комнату другого назначения (детская или гостиная комната).</p>
                <p>Две остальные спальные комнаты меньшие по размеру расположились справа, в одной из них находится выход на балкон. Также у передней стены по центру расположены два совмещенным с ванной комнатой санузла.</p>
                <p>Приятный в интерьере дом с просторной мансардой будет радовать своих новых хозяев, которые предпочитают простоту и комфорт в одном лице.</p>
            </div>
        </div>
    </div>
</main>
{% include "partials/footer.twig" %}