@import "vendors/slick.scss";
@import "vendors/slick-theme.scss";
@import "base/normalize";

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    outline: none;
}

body {
    background: #fff;
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../images/caret.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) 50%;
    cursor: pointer;
}

.projects-slick .slick-prev,
.projects-slick .slick-next {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #000;
}

.projects-slick .slick-prev svg path,
.projects-slick .slick-next svg path {
    fill: #000;
}

.projects-slick .slick-prev {
    left: 32%;
}

.projects-slick .slick-next {
    right: 32%;
}

.projects-slick button.slick-arrow svg {
    width: 16px;
    height: 16px;
}
.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.all-page-title,
.all-page-title h2,
.main-page-title {
    font-size: 36px;
    text-align: center;
    line-height: 49px;
    letter-spacing: -0.05em;
    font-weight: 600;
    max-width: 566px;
    margin: 0 auto 25px;
}

.all-page-title,
.all-page-title h2 {
    color: #333333;
}

.main-page-title {
    color: #666666;
}
.main-page-title h1 {
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.05em;
    font-weight: 600;
}
.under-title {
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #666666;
    margin-bottom: 13px;
}

.main-slick.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.main-slick .slick-dots {
    bottom: 8px;
}

.main-slick .slick-dots li.slick-active button {
    background: #33cc00;
    border: none;
}

.main-slick .slick-dots li button {
    background: #fff;
    border: none;
}

.main-slick-content {
    padding: 140px 0 150px;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
}

.banner-content {
    max-width: 500px;
    background: rgba(255, 255, 255, 0.5);
    padding: 17px 27px;
}

.block-seo-text-1 ul,
.block-seo-text-2 ul {
    margin: 20px;
}

.block-seo-text-2 {
    width: 49.5%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    box-sizing: border-box;
}

.block-seo-text-1 {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    box-sizing: border-box;
}

.tegih h2,
.tegih h3,
.tegih p {
    font-size: 16px;
    display: inline;
}

h2.tegih-zagolovok {
    font-size: 22px;
    display: block;
}

.banner-links {
    margin-bottom: 14px;
}

.banner-links li {
    display: inline-block;
}

.banner-links li a {
    font-size: 14px;
    line-height: 13px;
    letter-spacing: -0.05em;
    color: #6c6c6c;
    text-decoration: none;
    display: inline-block;
    padding: 0 5px;
    border-left: 1px solid #6c6c6c;
}

.banner-links li:first-child a {
    border-left: none;
    padding-left: 0;
}

.banner-title {
    margin-bottom: 24px;
}

.banner-title span {
    font-size: 48px;
    line-height: 46px;
    letter-spacing: -0.05em;
    color: #316c48;
}

.banner-text {
    font-size: 18px;
    line-height: 17px;
    letter-spacing: -0.05em;
    color: #6c6c6c;
}

.seo-text {
    font-size: 16px;
    line-height: 1.4;
    max-width: 1000px;
    margin: 30px auto;
}

.main-page-triggers {
    font-size: 0;
    background-color: #f3f3f3;
    padding: 40px 0 25px;
}

.building-block {
    background: #f3f3f3;
    padding: 25px 0 0 0;
}

.main-page-triggers .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 48px;
}

.trigger-item-img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.trigger-item-info {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 126px);
}

.trigger-item-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.05em;
    color: #666666;
}

.trigger-item-text {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.05em;
    color: #666666;
}

.header-block-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.projects-slick-content.slick-slide {
    transform: scale(0.8);
    transition: 0.3s ease;
}

.projects-slick-content.slick-slide.slick-current.slick-active.slick-center {
    transform: scale(1);
}

.projects-slick-content-inner {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    max-width: 680px;
    width: 90%;
    margin: 33px auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.projects-slick-content-img {
    width: 230px;
}

.projects-slick-content-img a {
    display: block;
    height: 100%;
}

.projects-slick-content-img a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects-slick-content-info {
    width: calc(100% - 230px);
    padding: 12px 35px 26px 25px;
}

.projects-content-before-name {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

.projects-content-name {
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    margin-bottom: 23px;
}

.projects-content-price {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    padding: 7px 6px;
    border: 1px solid #316c48;
    display: inline-block;
    margin-bottom: 23px;
}

.projects-content-text {
    font-size: 11px;
    line-height: 15px;
    color: #615f5f;
    margin-bottom: 34px;
}

.projects-content-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.popular-projects {
    background: #f3f3f3;
    padding: 20px 0;
}

.individual-project {
    background: #f7f7f7;
}

.individual-project .container {
    background-image: url(../images/individ.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    padding: 55px 15px;
    background-size: contain;
}

.individual-project-title {
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.05em;
    color: #666666;
    max-width: 370px;
    margin-bottom: 25px;
}

.individual-project-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.05em;
    color: #666666;
    max-width: 575px;
    margin-bottom: 30px;
}

.news-block {
    padding: 30px 0 35px;
}

.news-block-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 135px;
    margin-top: 40px;
}

a.news-item {
    text-decoration: none;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 69px 1fr;
}

.news-item-date {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #316c48;
    margin-bottom: 5px;
}

.news-item-text {
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

.about-company {
    padding: 45px 0 60px;
    background-image: url(../images/company_bg.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-company-text {
    max-width: 640px;
    font-size: 18px;
    line-height: 25px;
    color: #316c48;
    margin-bottom: 34px;
    margin-top: 40px;
}

.about-company-triggers {
    display: flex;
    flex-wrap: wrap;
}

.about-company-trigger {
    margin-right: 30px;
    text-align: center;
}

.about-company-triggers .number {
    font-size: 72px;
    line-height: 98px;
    letter-spacing: -0.05em;
    font-weight: 600;
    color: #316c48;
}

.about-company-triggers .text {
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

.seo-title {
    background: #666666;
    padding: 26px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 10;
}

.seo-title h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.05em;
    color: #ffffff;
}

.who-we-are_short {
    background-color: #f3f3f3;
    padding: 40px 0 16px;
}

.who-we-are_short .container {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 540px 1fr;
}

.who-we-are_short-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.05em;
    color: #333333;
    margin-bottom: 10px;
}

.who-we-are_short-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.05em;
    color: #333333;
    margin-bottom: 30px;
}

.who-we-are_short-text p {
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    margin-bottom: 20px;
}

.who-we-are_short-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 525px;
}

.our-projetcs-catalog {
    background-color: #f3f3f3;
    padding: 16px 0 25px;
}

.our-projetcs-catalog-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(367px, 1fr));
    grid-gap: 50px;
    margin-top: 50px;
}

.project-item {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.project-item-info {
    width: calc(100% - 230px);
    padding: 12px 35px 26px 25px;
}

.project-item-image {
    width: 230px;
}

.project-item-image a {
    display: block;
    height: 100%;
}

.project-item-image a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our-works {
    background-color: #f3f3f3;
    padding: 25px 0 40px 0;
}

.our-works .header-block-links {
    margin-bottom: 30px;
}

.our-works-inner {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
    margin-bottom: 50px;
}

a.our-works-item {
    position: relative;
    padding-bottom: 56.5%;
    height: 0;
    overflow: hidden;
    text-decoration: none;
    background-size: auto, cover !important;
}

.our-works-item-content {
    position: absolute;
    bottom: 27px;
    left: 19px;
    right: 19px;
}

.our-works-item-name {
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.05em;
    color: #ffffff;
}

.our-works-item-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.our-works-item-size {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.05em;
    color: #ffffff;
}

.our-works-item-price {
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.05em;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.individual-project_block {
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.individual-project_block .container {
    background-image: url(../images/individ.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding: 59px 0 64px;
}

.individual-project_block-before-title {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.05em;
    color: #333333;
    margin-bottom: 16px;
}

.individual-project_block-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.05em;
    color: #333333;
    max-width: 370px;
    margin-bottom: 20px;
}

.individual-project_block-text {
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    margin-bottom: 30px;
    max-width: 475px;
}

.individual-project_block-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 350px;
}

.construction-stages {
    background-color: #f3f3f3;
    padding: 25px 0;
}

.all-page-text {
    margin-top: 30px;
}

.all-page-text p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

.all-page-text ul {
    padding-left: 18px;
    margin-bottom: 20px;
}

.all-page-text ul li {
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

.page-info_block {
    padding: 50px 0;
}

.page-info_block .all-page-title {
    margin-bottom: 40px;
}

.page-info_block-text {
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
}

.page-info_block-text p {
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

.contacts_block {
    background: #316c48;
    padding: 18px 0;
}

.contacts_block .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contacts_block-phone {
    font-size: 36px;
    line-height: 49px;
    color: #ffffff;
    flex-grow: 0.7;
}

.contacts_block-phone a {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin-left: 25px;
}

.gallery-works {
    background-color: #f3f3f3;
    padding: 25px 0 50px;
}

.gallery-works .all-page-title {
    margin-bottom: 50px;
}

.gallery-works-inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 30px;
}

a.gallery-item {
    position: relative;
    height: 156px;
}

a.gallery-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        360deg,
        #000000 3.07%,
        rgba(89, 89, 89, 0) 43.4%
    );
}

.gallery-item img {
    height: 156px;
    width: 100%;
    object-fit: cover;
}

.foundation-catalog {
    padding: 25px 0;
    background-color: #f3f3f3;
}

.foundation-catalog .under-title {
    margin-bottom: 50px;
}

a.foundation-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-decoration: none;
    position: relative;
    background-size: cover;
    background-position: 50%;
}

.foundation-item-name {
    font-weight: 600;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.05em;
    color: #000;
    text-align: center;
    /*position: absolute;*/
    /*left: 5px;*/
    /*right: 5px;*/
    /*bottom: 23px;*/
}

.foundation-prices {
    background-color: #f3f3f3;
    padding: 25px 0 25px;
}

.foundation-text {
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
}

.foundation-text p {
    font-size: 14px;
    line-height: 19px;
    color: #333;
    margin-bottom: 20px;
}

.foundation-text p:last-child {
    margin: 0;
}

.foundation-prices-content {
    /*display: grid;*/
    /*grid-gap: 12px;*/
    /*grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));*/
    margin-bottom: 50px;
    margin-top: 40px;
}

.foundation-prices-item {
    display: flex !important;
    /* Переопределение стилией slick */
    flex-direction: column;
    justify-content: space-between;
    width: 290px;
    height: 280px;
    margin: 10px;

    padding: 18px 30px 25px;
    /*padding: 18px 38px 25px;*/
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.foundation-prices-item-name {
    height: 55px;
    /* Для одинаковой высоты */
    margin-bottom: 10px;
    color: #316c48;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.05em;
}

.foundation-prices-item-before-value {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #333;
    margin-bottom: 3px;
}

.foundation-prices-item-value {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #316c48;
    margin-bottom: 3px;
}

.foundation-prices-item-after-value {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #333;
    margin-bottom: 30px;
}

.foundation-prices-content .slick-prev svg path,
.foundation-prices-content .slick-next svg path {
    fill: #f9d508;
}
.products-filter {
    padding: 20px 0 10px;
    background-color: #f3f3f3;
}

.products-filter form {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
}

.filter-row {
    margin-bottom: 13px;
}

.filter-row select {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    border-radius: 100px;
    padding: 11px 15px;
    font-size: 14px;
    letter-spacing: -0.05em;
    color: #929292;
}

.filter-row input {
    width: 100%;
    background: #ffffff;
    border: 1px solid #d8d8d8;
    border-radius: 100px;
    padding: 9px 19px;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: -0.05em;
    color: #929292;
}

p.label-text {
    font-size: 14px;
    line-height: 13px;
    letter-spacing: -0.05em;
    color: #333333;
    padding-left: 20px;
    margin-bottom: 5px;
}

.filter-column {
    width: 158px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}

.filter-column:last-child {
    margin-right: 0;
}

.sorting_block {
    background-color: #f3f3f3;
    padding: 20px 0;
}

.sorting_block-inner {
    max-width: 1040px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.sorting_block-inner {
}

.number-of-posts {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.05em;
    color: #8f8f8f;
}

.sorting-value {
}

.sorting-value select {
    font-size: 14px;
    letter-spacing: -0.05em;
    color: #8f8f8f;
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    border-radius: 100px;
    padding: 11px 45px 11px 15px;
    color: #929292;
}

.vue-pagination {
    text-align: center;
    font-size: 18px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.vue-pagination li {
    vertical-align: middle;
    margin: 0 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.vue-pagination li a {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.05em;
    color: #316c48;
}

.vue-pagination span.current {
    padding: 8px 12px 9px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.05em;
    color: #316c48;
    margin-right: 8px;
    border: 1px solid #316c48;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
}

.vue-pagination li.current a {
    width: 25px;
    height: 25px;
    display: inline-flex;
    color: #fff;
    background-color: #08154a;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
}

span.page-numbers.dots {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.05em;
    color: #316c48;
}

.product-slider {
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    padding-bottom: 10px;
}

.product-slick-for {
    margin-bottom: 10px;
}

.product-slick-for-content img {
    max-height: 765px;
    width: 100%;
    object-fit: contain;
}

.product-slick-nav .slick-track {
    margin: 0 auto;
}

.product-slick-nav-content {
    padding: 10px;
}

.product-slick-nav-content img {
    width: 179px;
    height: 99px;
    object-fit: cover;
}

.product-information {
    padding: 30px 0 20px;
}

.product-information .container {
    display: grid;
    grid-gap: 45px;
    grid-template-columns: 1fr 1fr;
}

.product-information-column .product-information-column-inner {
    background: #ffffff;
    border: 2px solid #316c48;
    padding: 17px 40px 40px;
    margin-top: 15px;
}

.product-information-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.05em;
    color: #666666;
    margin-bottom: 25px;
}

.scheme-item {
    margin-bottom: 40px;
}

.scheme-item-name {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.05em;
    color: #666666;
    margin-bottom: 40px;
}

.scheme-item-img {
    text-align: center;
}

.scheme-item-img a {
    display: inline-block;
}

.technical-specifications {
    background-color: #f5f5f5;
    padding: 20px 20px 30px 20px;
}

.technical-specifications-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 41px;
    letter-spacing: -0.05em;
    color: #666666;
    padding-bottom: 20px;
    border-bottom: 1px solid #adadad;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.product-description {
    padding: 20px 0 20px;
}

.product-description .all-page-title {
    text-align: left;
    margin: 0 0 25px;
}
.product-description .all-page-text {
    margin-top: 0;
}
.product-description .all-page-text p {
    font-size: 16px;
}
.technical-specifications table tr td {
    padding: 10px 0;
    font-size: 16px;
    line-height: 22px;
    color: #4b4b4b;
}

.technical-specifications table tr td:last-child {
    font-weight: 600;
    text-align: right;
}

.complectaions-content-name {
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    color: #666666;
    margin-bottom: 10px;
}

.complectations-buttons {
    margin-bottom: 30px;
}

.control {
    display: flex;
    position: relative;
    padding-left: 21px;
    margin-bottom: 15px;
    padding-top: 4px;
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    justify-content: flex-end;
    align-items: center;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 7px;
    left: 0;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 1px solid #316c48;
    border-radius: undefinedpx;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #fff;
}

.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: "";
    position: absolute;
    display: none;
}

.control input:checked ~ .control_indicator:after {
    display: block;
}

.control-radio .control_indicator {
    border-radius: 50%;
}

.control-radio .control_indicator:after {
    left: 2px;
    top: 2px;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background: #316c48;
    transition: background 250ms;
}

.control-radio input:disabled ~ .control_indicator:after {
    background: #7b7b7b;
}

.control-radio .control_indicator::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #2aa1c0;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}

@keyframes s-ripple {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    20% {
        transform: scale(1);
    }

    100% {
        opacity: 0.01;
        transform: scale(1);
    }
}

@keyframes s-ripple-dup {
    0% {
        transform: scale(0);
    }

    30% {
        transform: scale(1);
    }

    60% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.control-radio input + .control_indicator::before {
    animation: s-ripple 250ms ease-out;
}

.control-radio input:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}

.complectaions-content {
    border-bottom: 1px solid #adadad;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.complectaions-content-inner {
    display: none;
}

.complectaions-content-inner:first-child {
    display: block;
}
.complectations-list {
    margin-bottom: 30px;
}
.complectations-list table,
.complectaions-content-inner table {
    border-collapse: collapse;
    width: 100%;
}

.complectaions-content-inner table tbody tr td {
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    width: 250px;
    vertical-align: top;
    padding: 10px 0;
}
.complectations-list table tr td:last-child,
.complectaions-content-inner table tbody tr td:last-child {
    text-align: right;
}

.complectations-list table tr td {
    padding: 10px 0 10px 18px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #666;
}
.complectations-list table tr td:first-child {
    background-image: url(../images/li-style.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: calc(100% - 130px);
}
.complectations-list table tr td:last-child {
    font-weight: 600;
    width: 130px;
}
.complectation-price {
    flex-grow: 1;
    text-align: right;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
}

.total-price {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 320px auto;
    justify-content: space-between;
    align-items: center;
}

.total-price-name {
    font-size: 16px;
    line-height: 22px;
    color: #666666;
}

.total-price-value {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
}

.buy-house_button {
    display: block;
    font-size: 15px;
    line-height: 14px;
    letter-spacing: -0.05em;
    color: #fff;
    background: #316c48;
    border: 1px solid #316c48;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    max-width: 294px;
    margin: 0 auto 20px;
    text-decoration: none;
    text-align: center;
    padding: 11px 0px;
    transition: 0.3s ease;
}

.buy-house_button:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
}

.buy-house_button-info {
    font-size: 16px;
    line-height: 19px;
    color: #316c48;
    margin-bottom: 12px;
    max-width: 370px;
}

.building-include {
}

.building-include p {
    font-size: 17px;
    line-height: 23px;
    color: #316c48;
}

.building-include p b {
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    color: #666666;
}

.building-include p ul {
    margin: 20px 0 30px;
}

.building-include ul li {
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
}

.building-include ul li:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    background: #316c48;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-top: 6px;
    margin-right: 15px;
}
.tab-buttons,
.tab-content-inner-top {
    background-color: #f5f5f5;
}
.tab-buttons-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #666666;
    margin-bottom: 17px;
}
.tab-buttons-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.tab-button {
    font-size: 24px;
    line-height: 33px;
    color: #666666;
    border-bottom: 1px solid transparent;
    margin-right: 50px;
    padding-bottom: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}
.tab-button:hover,
.tab-button.active {
    border-color: #666;
}
.tab-content-inner {
    display: none;
}
.tab-content-inner:first-child {
    display: block;
}
.tab-content-inner-top {
    background-color: #f5f5f5;
    padding: 20px 0 1px;
    font-size: 0;
}
.tab-content-name {
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #666666;
    margin-bottom: 15px;
}

.tab-content-basement-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #666666;
    margin-bottom: 20px;
}
.tab-content-basement-column {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 13px);
    margin-right: 26px;
    margin-bottom: 15px;
}
.tab-content-basement-column.w3 {
    width: calc(33.333% - 20px);
    margin-right: 12px;
}
.tab-content-basement-column:nth-child(2n) {
    margin-right: 0;
}
.tab-content-basement p {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    margin-bottom: 15px;
}
.tab-content-text ul li,
.tab-content-basement ul li {
    list-style: none;
    background-image: url(../images/li-style.png);
    background-repeat: no-repeat;
    background-position: 0 6px;
    padding: 0 0 0 18px;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    margin-bottom: 15px;
}
.tab-content-text h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #666666;
    margin-bottom: 30px;
}
.tab-content-text img {
    display: block;
    margin: 0 auto;
}
.gallery-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}
.quote-content {
    border: 2px solid #316c48;
    padding: 15px 20px 18px 20px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.quote-content p {
    font-size: 16px;
    line-height: 22px;
    color: #666666;
}

.tab-content-basement {
    font-size: 0;
}
.tab-content-text p {
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    margin-bottom: 20px;
}
.contacts-map {
    position: relative;
}

.contacts-page-content {
    position: absolute;
    top: 0;
    left: calc((100% - 1115px) / 2);
    background-color: #fff;
    padding: 16px 8px 35px;
    max-width: 340px;
    width: 100%;
}

.contacts-page-content-item {
    margin-bottom: 22px;
}

.contacts-item-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}

.contacts-item-value {
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}

.contacts-item-value a {
    text-decoration: none;
    color: #333333;
}

.contacts-callback a {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #316c48;
    text-decoration: none;
}

.contacts-page-form {
    padding: 10px 0 20px;
}

.contacts-page-form .container {
    max-width: 1145px;
}

.contacts-page-form-name {
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: #333333;
    margin-bottom: 35px;
}

.contacts-page-form-inner {
    display: flex;
    flex-wrap: wrap;
}

.contacts-page-form-left {
    max-width: 370px;
    width: 100%;
    margin-right: 40px;
}

.contacts-page-form-left form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacts-page-form-left label {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

input.contatsInput {
    display: block;
    font-size: 14px;
    line-height: 19px;
    color: #cbcbcb;
    font-weight: 400;
    background: #ffffff;
    border: 0.5px solid #d8d8d8;
    padding: 6px 9px;
    margin-top: 12px;
}

.contacts-page-form-left form textarea {
    width: 100%;
    height: 97px;
    resize: none;
    padding: 6px 10px;
    background: #ffffff;
    border: 0.5px solid #d8d8d8;
    font-size: 14px;
    line-height: 19px;
    color: #cbcbcb;
    margin-bottom: 18px;
}

input.contactsSubmit {
    background: #316c48;
    border-radius: 100px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    border: 1px solid #316c48;
    padding: 7px 59px;
    margin-bottom: 13px;
}

.private-policy {
    font-size: 8px;
    line-height: 11px;
    color: #cbcbcb;
}

.private-policy a {
    font-size: 8px;
    line-height: 11px;
    color: #cbcbcb;
}

.contacts-page-form-right {
    font-size: 14px;
    line-height: 19px;
    color: #cbcbcb;
    width: 250px;
}

.join_input {
    display: block;
    font-size: 18px;
    text-align: center;
    color: #193d3b;
    background: #f2f2f2;
    border: 1px solid rgba(25, 61, 59, 0.2);
    box-sizing: border-box;
    border-radius: 100px;
    max-width: 333px;
    width: 100%;
    margin: 0 auto 10px;
    padding: 9px 15px;
    resize: none;
}
.page-content.white {
    padding: 30px 0;
}
.list-name {
    font-weight: 600;
    color: #000;
    font-size: 26px;
    margin-bottom: 10px;
}
.list_city-content ul {
    margin-bottom: 23px;
}
.list_city-content li {
    display: inline-block;
    vertical-align: top;
    margin: 10px 20px 10px 0;
}
.list_city {
    padding: 45px 0;
    font-size: 0;
}
a.js_js_header_list_city {
    color: #000;
    font-size: 15px;
}
a.js_js_header_list_city:hover {
    text-decoration: none;
}

.foundation-prices-slick svg path {
    fill: #000;
}

img.alignright {
    float: right;
    margin-left: 20px;
}
img.alignleft {
    float: left;
    margin-right: 20px;
}
.all-page-text h2 {
    margin-bottom: 25px;
}
.foundation-text-building p {
    margin: 20px 0;
}

.main-categories-container {
    max-width: 1180px;
    margin: 0 auto;
}

.main-categories-item {
    display: block;
    background-color: #e6e6e6;
    text-decoration: none;
}

.main-categories__title {
    padding-top: 70px;
    padding-bottom: 55px;
    font-size: 36px;
    color: rgb(29, 29, 29);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.main-categories-item__image img {
    width: 290px;
    height: 210px;
    object-fit: cover;
}

.main-categories-item__title {
    font-size: 18px;
    color: #1d1d1d;
    line-height: 1.2;
    text-align: center;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 25px;
}

.main-categories-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 21px 14px;
    margin-bottom: 70px;
}

.question-block {
    min-height: 450px;
    background-image: url(../images/qbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.question-block__textarea {
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 157px;
}

.question-block-text{
    max-width: 675px;
}

.question-block-container {
    max-width: 980px;
    margin: 0 auto;
}

.question-block__title {
    padding-top: 85px;
    padding-bottom: 33px;
    font-size: 36px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    max-width: 765px;
}

.question-block__textarea {
    font-size: 16px;
    color: rgb(134, 134, 134);
    line-height: 1.2;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    resize: none;
}

.question-block__button {
    background-color: #2cc433;
    box-shadow: 0px 11px 13px 0px rgba(95, 233, 101, 0.4);
    width: 242px;
    height: 41px;
    position: absolute;
    right: 15px;
    bottom: -15px;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-align: left;
    border: none;
    border-radius: 25px;
    padding-left: 50px;
    background-image: url(../images/wh.png);
    background-repeat: no-repeat;
    background-position: 15px 50%;
}

.question-block-text{
    position: relative;
}

@import "components/buttons";
@import "components/modal";
@import "header";
@import "footer";
@import "media-requests";
